name: "Build"

on:
  push:
    branches:
      - "main"
    tags:
      - "[0-9]+.[0-9]+.[0-9]+*"

jobs:
  build:
    name: "Build"
    runs-on: "ubuntu-latest"
    permissions:
      packages: "write"
    env:
      # Must match `image` value in compose.yml
      IMAGE_NAME: "ghcr.io/mfisher87/claude-code"

    steps:
      - uses: "actions/checkout@v3"

      - name: "Build"
        run: |
          # Clean before build -- sometimes there are dependabot images already present :(
          docker system prune -af

          docker compose build

      - name: "Get built image tag"
        id: "get_built_tag"
        run: |
          echo "tag=$(docker image ls --format '{{.Repository}}:{{.Tag}}')" >> $GITHUB_OUTPUT

      - name: "Tag image with Git tag or 'latest'"
        id: "tag_with_git_tag_or_latest"
        run: |
          # GitHub Actions expressions conditionals are ternary expressions that
          # look a lot like bash. In Python, this would read as:
          #
          #     github.ref_name if github.ref_type == 'tag' else 'latest'
          #
          # https://docs.github.com/en/actions/learn-github-actions/expressions
          NEW_TAG=${IMAGE_NAME}:${{ github.ref_type == 'tag' && github.ref_name || 'latest' }}
          docker tag ${{ steps.get_built_tag.outputs.tag }} ${NEW_TAG}
          echo "tag=${NEW_TAG}" >> $GITHUB_OUTPUT

      - name: "Tag image with Git sha"
        id: "tag_with_sha"
        run: |
          NEW_TAG=${IMAGE_NAME}:$(echo "${GITHUB_SHA}" | cut -c1-12)
          docker tag ${{ steps.get_built_tag.outputs.tag }} ${NEW_TAG}
          echo "tag=${NEW_TAG}" >> $GITHUB_OUTPUT

      - name: "GHCR login"
        uses: "docker/login-action@v2"
        with:
          registry: "ghcr.io"
          username: "${{ github.repository_owner }}"
          password: "${{ secrets.GITHUB_TOKEN }}"

      - name: "Push to image registry"
        run: |
          # Push image as built and tagged by the compose config (i.e. tagged with the claude code version)
          docker compose push

          # Push extra tags
          docker push ${{ steps.tag_with_git_tag_or_latest.outputs.tag }}
          docker push ${{ steps.tag_with_sha.outputs.tag }}
