name: "Build"

on:
  push:
    branches:
      - "main"
    tags:
      - "[0-9]+.[0-9]+.[0-9]+*"

jobs:
  build:
    name: "Build"
    runs-on: "ubuntu-latest"
    permissions:
      packages: "write"
    env:
      IMAGE_NAME: "ghcr.io/mfisher87/claude-code"
      # GitHub Actions expressions conditionals are ternary expressions that
      # look a lot like bash. In Python, this would read as:
      #
      #     github.ref_name if github.ref_type == 'tag' else 'latest'
      #
      # https://docs.github.com/en/actions/learn-github-actions/expressions
      IMAGE_TAG: "${{ github.ref_type == 'tag' && github.ref_name || 'latest' }}"

    steps:
      - uses: "actions/checkout@v3"

      - name: "Build"
        run: "docker compose build"

      - name: "Tag image with Git tag or 'latest'"
        id: tag_git_tag_or_latest
        run: |
          docker tag ${IMAGE_NAME} ${IMAGE_NAME}:${IMAGE_TAG}
          echo "tag=${IMAGE_TAG}" >> $GITHUB_OUTPUT

      - name: "Tag image with Claude Code version"
        id: tag_claude_code_version
        run: |
          source .env
          TAG="${CLAUDE_CODE_VERSION}"
          docker tag ${IMAGE_NAME} ${IMAGE_NAME}:${TAG}
          echo "tag=${TAG}" >> $GITHUB_OUTPUT

      - name: "Tag image with Git sha"
        id: tag_sha
        run: |
          TAG=$(echo "${GITHUB_SHA}" | cut -c1-12)
          docker tag ${IMAGE_NAME} ${IMAGE_NAME}:${TAG}
          echo "tag=${TAG}" >> $GITHUB_OUTPUT

      - name: "GHCR login"
        uses: "docker/login-action@v2"
        with:
          registry: "ghcr.io"
          username: "${{ github.repository_owner }}"
          password: "${{ secrets.GITHUB_TOKEN }}"

      - name: "Push to image registry"
        run: |
          docker push ${IMAGE_NAME}:${{ steps.tag_git_tag_or_latest.outputs.tag }}
          docker push ${IMAGE_NAME}:${{ steps.tag_claude_code_version.outputs.tag }}
          docker push ${IMAGE_NAME}:${{ steps.tag_sha.outputs.tag }}
